# AFFIDAVIT OF NO OBJECTION (NOC)

**BEFORE THE NOTARY PUBLIC, DHAKA, BANGLADESH**

*(Both parents are the deponents. Execute on non-judicial stamp paper, affix photographs of both parents and the student, and notarize before use.)*

This is to certify that we, **(1) $father_name**, bearing National ID No. **$father_nid**, and **(2) $mother_name**, bearing National ID No. **$mother_nid**, both of permanent address **$permanent_address**, both Muslim by faith and Bangladeshi by birth, do hereby solemnly affirm and declare as follows:

1. That we are permanent residents of Bangladesh.

2. That **$student_name** (passport no. **$passport_no**) is our $child_relation, who desires to pursue higher studies at **$university** in the Republic of Korea.

3. That our said $child_relation has been accepted for the **$program** at the said university; we, the parents, have agreed to support the said higher study, and we proudly encourage our $child_relation to be successful in life.

4. That **we have no objection** to our $child_relation going to the Republic of Korea for higher education and residing there for the duration of study.

5. That our $child_relation **will return to Bangladesh after completion** of the said higher education.

That the statements made above are true and correct to the best of our knowledge and belief, whereof we swear and sign this affidavit before the Notary Public, Dhaka, Bangladesh.

&nbsp;

_________________________ &nbsp;&nbsp;&nbsp;&nbsp; _________________________
**$father_name** (Father) &nbsp;&nbsp;&nbsp;&nbsp; **$mother_name** (Mother)

*The deponents are known to me and signed in my presence.*

_________________________
**Advocate / Notary Public**, Dhaka &nbsp; | &nbsp; Date: __________________

<!-- Auto-generated by audit-system/generate.py. Review before notarizing. -->
